.productlist-carousel {
  max-width: 880px;
  margin-bottom: 30px;
  padding: 15px 20px;
  border: 6px solid #e3d9e6;

  @include m1190() {
    width: 675px;
  }
  @include m1000() {
    max-width: 460px;
  }
  @include m760() {
    max-width: 400px;
    padding: 10px 0;
    border: none;
  }
  @include m700() {
    max-width: 460px;
    margin: 0 auto 30px;
    padding: 15px 20px;
    border: 6px solid #e3d9e6;
  }
  @include m500() {
    width: 255px;
  }
}

.productlist-carousel {
  //общие стили для верхнего слайдера
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    padding: 0;
  }
  .bx-wrapper {
    margin: 0 auto;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }
  .bx-controls-direction {
    position: absolute;
    bottom: 55%;
    visibility: hidden;
    width: 100%;
    margin: auto;

    @include m760() {
      display: none;
    }
    @include m700() {
      display: block;
    }
  }
  .bx-wrapper .bx-controls-direction a {
    width: 22px;
    height: 53px;
  }
  .bx-wrapper .bx-prev,
  .bx-wrapper .bx-next {
    visibility: visible;
    background-image: none;
    &::before,
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      margin: auto;
      content: '';
      transition: .5s;
      background-color: #fff;
      background-image: url('../img/productlist-carousel/productlist-carousel-arr.png');
      background-repeat: no-repeat;
    }
    &::before {
      opacity: 1;
    }
    &::after {
      opacity: 0;
    }
    &:hover {
      &::before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }
  }
  .bx-wrapper .bx-prev {
    left: -33px;
    &::before {
      background-position: 0 12px;
    }
    &::after {
      background-position: 0 -41px;
    }
  }
  .bx-wrapper .bx-next {
    right: -33px;
    &::before {
      background-position: 100% 12px;
    }
    &::after {
      background-position: 100% -41px;
    }
  }
}
