//begin callback
section.callback-section
  //begin callback-left
  .callback-left
    .callback-container
      .callback-left__logo
        img(src="assets/img/logo-large.png", alt="logo")

      p.callback-left__text Равным образом реализация намеченных плановых заданий требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач.

      .callback__icon-list
        .icon__item
          svg
            use(xlink:href="assets/img/sprite.svg#temp-01")
          h4.icon__title Наши преимущества
          a(href="#").icon__link
        .icon__item
          svg
            use(xlink:href="assets/img/sprite.svg#temp-02")
          h4.icon__title Выполненные проекты
          a(href="#").icon__link
        .icon__item
          svg
            use(xlink:href="assets/img/sprite.svg#temp-03")
          h4.icon__title Стоимость работ
          a(href="#").icon__link
  //end   callback-left



  //begin callback-right
  .callback-right
    .callback-container
      h3.callback-right__title Оставьте заявку прямо сейчас!

      //begin callback-form
      .callback-form
        form
          label
            |  Имя*
            input(type="text" required)
          label
            |  Телефон*
            input(type="text" required)
          label
            |  E-mail
            input
          .callback-form__send.successOpen
            input(type='submit', placeholder='отправить')
    //end   callback-form

  //end   callback-right

//end   callback