//begin news-sec
section.news-sec
  .container
    header.section-header
      h2.section-header__title Новости и сезонные предложения

    .news-sec__list
      .news-sec__item--news
        .news-sec__pic
          img(src='assets/img/news-sec.jpg', alt="preview")
          .news-sec__date 21.12.2016
        h3.news-sec__title Новость
        p.news-sec__text Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения форм развития.
        a(href="#").news-sec__link

      .news-sec__item--news
        .news-sec__pic
          img(src='assets/img/news-sec.jpg', alt="preview")
          .news-sec__date 21.12.2016
        h3.news-sec__title Супер новость
        p.news-sec__text Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения форм развития.
        a(href="#").news-sec__link

      .news-sec__item--sale
        .news-sec__pic
          img(src='assets/img/news-sec-sale.jpg', alt="preview")
        h3.news-sec__title--sale
          | Скидки до 30%
          br
          =" "
          | на остекление балконов
        p.news-sec__text--sale Подробнее
        a(href="#").news-sec__link

    footer.news-sec__footer
      a(href="#").news-sec__all-link Все новости
//end   news-sec