//begin partners
section.partners
  .container
    header.section-header
      h2.section-header__title Качество - превыше всего
    .partners-body
      .partners-logo
        img(src="assets/img/bg-partners-logo.png", alt="logo partners")

      .partners-text
        h3.partners-text__title Только проверенные производители
        p Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения форм развития. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий играет важную роль в формировании систем массового участия.
        p Равным образом реализация намеченных плановых заданий требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач.

//end   partners