//begin top-slider
section.top-slider
  .container
    ul.top-slider__list
      // begin slide 1
      li
        .top-slider__item
          .top-slider__pic
            img(src='assets/img/top-slider/top-slider-01.jpg', alt="top-slider")
          .top-slider__banner
            h3.top-slider__title Остекление балконов
            p.top-slider__text Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения форм развития. Значимость этих проблем настолько очевидна.
            .top-slider__icon-list
              .icon__item
                svg
                  use(xlink:href="assets/img/sprite.svg#temp-01")
                h4.icon__title Наши преимущества
                a(href="#").icon__link
              .icon__item
                svg
                  use(xlink:href="assets/img/sprite.svg#temp-02")
                h4.icon__title Выполненные проекты
                a(href="#").icon__link
              .icon__item
                svg
                  use(xlink:href="assets/img/sprite.svg#temp-03")
                h4.icon__title Стоимость работ
                a(href="#").icon__link
      // end   slide 1

      // begin slide 2
      li
        .top-slider__item
          .top-slider__pic
            img(src='assets/img/top-slider/top-slider-02.jpg', alt="top-slider")
          .top-slider__banner
            h3.top-slider__title Остекление балконов 2
            p.top-slider__text Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения форм развития. Значимость этих проблем настолько очевидна.
            .top-slider__icon-list
              .icon__item
                svg
                  use(xlink:href="assets/img/sprite.svg#temp-01")
                h4.icon__title Наши преимущества
                a(href="#").icon__link
              .icon__item
                svg
                  use(xlink:href="assets/img/sprite.svg#temp-02")
                h4.icon__title Выполненные проекты
                a(href="#").icon__link
              .icon__item
                svg
                  use(xlink:href="assets/img/sprite.svg#temp-03")
                h4.icon__title Стоимость работ
                a(href="#").icon__link
      // end   slide 2

      // begin slide 3
      li
        .top-slider__item
          .top-slider__pic
            img(src='assets/img/top-slider/top-slider-03.jpg', alt="top-slider")
          .top-slider__banner
            h3.top-slider__title Остекление балконов 3
            p.top-slider__text Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения форм развития. Значимость этих проблем настолько очевидна.
            .top-slider__icon-list
              .icon__item
                svg
                  use(xlink:href="assets/img/sprite.svg#temp-01")
                h4.icon__title Наши преимущества
                a(href="#").icon__link
              .icon__item
                svg
                  use(xlink:href="assets/img/sprite.svg#temp-02")
                h4.icon__title Выполненные проекты
                a(href="#").icon__link
              .icon__item
                svg
                  use(xlink:href="assets/img/sprite.svg#temp-03")
                h4.icon__title Стоимость работ
                a(href="#").icon__link
      // end   slide 3

//end   top-slider