//begin we-know
section.we-know
  .container
    header.section-header
      h2.section-header__title Мы прекрасно знаем как создать комфорт в помещении

    .we-know__list
      .we-know__item
        .we-know__pic
          img(src='assets/img/we-know.jpg', alt="preview")
        .we-know__description
          h3.we-know__title Отделка и остекление балконов
          p.we-know__text Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации новых предложений.
          a(href="#").we-know__link

      .we-know__item
        .we-know__pic
          img(src='assets/img/we-know.jpg', alt="preview")
        .we-know__description
          h3.we-know__title Оконные системы
          p.we-know__text Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации новых предложений.
          a(href="#").we-know__link

      .we-know__item
        .we-know__pic
          img(src='assets/img/we-know.jpg', alt="preview")
        .we-know__description
          h3.we-know__title Ремонт и отделка
          p.we-know__text Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации новых предложений.
          a(href="#").we-know__link
//end   we-know