//begin large-controls
.large-controls
  .large-controls__left
    svg
      use(xlink:href="assets/img/sprite.svg#arrow")
    span предыдущий проект
    a(href="#")

  .large-controls__right
    svg
      use(xlink:href="assets/img/sprite.svg#arrow")
    span следующий проект
    a(href="#")
//end   large-controls