//begin success
.success-layer
  .success-wrap
    .success
      header.success__header
        svg
          use(xlink:href="assets/img/sprite.svg#message")
        h4.success__title
          |Сообщение
          br
          |отправлено
      p.success__text мы свяжемся с вами в ближайшее время

      a(href="#").success__link.successOk Ок
//end   success