//begin thumb-slider-02
.thumb-slider.thumb-slider-02#thumb-slider-02
  ul
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-01.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-02.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-01.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-02.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-01.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-02.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-01.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-02.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-01.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-02.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-01.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-02.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-01.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-02.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-01.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-02.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-01.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-02.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-01.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-02.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-01.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-02.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-01.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-02.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-01.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее
    li.thumb-slide
      img(src='assets/img/thumb-slider/thumb-02.jpg', alt="thumb-slider")
      .thumb-slide__inn
        .thumb-slide__descripton
          h3.thumb-slide__title Замена стеклопакетов
          p.thumb-slide__adress пр. Луначарского, д.96
        a(href="#").thumb-slide__link Подробнее

//end   thumb-slider-02